extends ../_template/_extend

block vars
  -
      var page = {
          root: './',
          class: 'page-home'
      };
      const breakpoint = "768px"

block content
    section.visual.js-menu-scroll
        .visual__cont
            .visual__nav.visual-nav.js-nav-txt
                a(href="./#mission").visual-nav__txt
                    | Mission
                a(href="./#service").visual-nav__txt
                    | Service
                a(href="./#company").visual-nav__txt
                    | Company
                a(href="./#recruit").visual-nav__txt
                    | Recruit
                a(href="./contact").visual-nav__txt
                    | Contact

            .visual__text-cont
                p.visual__text.js-visual-txt
                    | Envision your ideal.
                    br
                    | Change the structure;
                    br
                    | integrate contradictions and conflicts.
            .visual__logo
                .visual-logo
                    .visual-logo__wrapper.visual-logo__wrapper--logo1
                        img.visual-logo__img.js-logo-img(src="./images/visual/top_visual_logo_01.svg" alt="H")
                    .visual-logo__wrapper.visual-logo__wrapper--logo2
                        img.visual-logo__img.js-logo-img(src="./images/visual/top_visual_logo_02.svg" alt="a")
                    .visual-logo__wrapper.visual-logo__wrapper--logo3
                        img.visual-logo__img.js-logo-img(src="./images/visual/top_visual_logo_03.svg" alt="u")
                    .visual-logo__wrapper.visual-logo__wrapper--logo4
                        img.visual-logo__img.js-logo-img(src="./images/visual/top_visual_logo_04.svg" alt="l")


    section#mission.top-mission
        .top-mission__cont
            h2.c-ttl
                | Mission
            p.top-mission__intro
                | やりたいことがない
                br
                | という世界から、
                br
                | やりたいことがある
                br
                | と言える日本にすること。
            p.top-mission__txt
                | 私たちは、ソフトウェアの世界で、日本人が日本製のプロダクトを誇れるようになることを目指しています。エンジニアの底上げ、日本の生産性向上などを行い、人々の自己改革を容易にし、個のモビリティを高めること、人材の素材適所を実現させることで、日本発のプロダクトを世界に発信できる土壌作りに貢献します。
        picture.top-mission__img-cont
            source(srcset="./images/mission/top_mission_pc_01.jpg" media=`(min-width: ${breakpoint})`)
            img(src="./images/mission/top_mission_sp_01.jpg").top-mission__img

    section#service.top-service
        .top-service__cont
            h2.c-ttl
                | Service
                .top-service__sub-cont
                    .top-service__txt-cont
                        h3.top-service__sub-ttl
                            | プロダクト事業
                        p.top-service__txt
                            | 採用コンサルティング事業のノウハウをもとに、CXを改善するSaaSを開発しています。ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー。
                    .top-service__img-cont
                        picture.top-service__img-cont
                            source(srcset="./images/service/top_service_pc_01.svg" media=`(min-width: ${breakpoint})`)
                            img(src="./images/service/top_service_sp_01.svg").top-service__img
                .top-service__sub-cont.top-service__sub-cont--reverse
                    .top-service__txt-cont
                        h3.top-service__sub-ttl
                            | 採用コンサルティング事業
                        p.top-service__txt
                            | 上流の要件定義から実務支援まで一貫した支援を提供しています。ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー。
                    .top-service__img-cont
                        picture.top-service__img-cont
                            source(srcset="./images/service/top_service_pc_02.svg" media=`(min-width: ${breakpoint})`)
                            img(src="./images/service/top_service_sp_02.svg").top-service__img

    section#company.top-company
        .top-company__cont.top-company-cont
            h2.c-ttl
                | company
            p.top-company__head
                | Corporate Identity
            .top-company__main
                    .top-company__icon
                        svg(width="600" height="215" viewBox="0 0 600 215" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M532.08 154.57C509.26 133.11 495.68 104.86 495.68 78.24C495.68 49.72 510.89 29.35 532.08 29.35C553.27 29.35 568.48 49.72 568.48 78.24C568.48 104.87 554.89 133.12 532.08 154.57ZM551.36 170.57V167.07C578.8 139.64 592.36 110.3 592.36 78.25C592.36 35.88 567.36 6 532.06 6C496.76 6 471.8 35.88 471.8 78.25C471.8 110.58 485.39 139.91 512.8 167.07V170.57C506.8 177.36 489.71 183.06 475.86 183.06V205.37C492.7 205.37 518.5 195.6 532.09 184.19C545.67 195.6 571.47 205.37 588.31 205.37V183.1C573.91 183.1 557.07 177.4 551.36 170.57Z" fill="#C0FF00")
                            path(d="M424.89 185.86H429.16V205.57H448.8V66.46H424.48V153.46C424.48 172.14 409.56 188.29 385.13 188.29C363.41 188.29 356.47 173.38 356.47 158.35V66.46H332.13V163.78C332.13 195.43 352.13 209.38 379.83 209.38C405.12 209.38 417.3 199.03 424.89 185.86Z" fill="black")
                            path(d="M245.72 122.44C209.89 129.23 185.29 137.72 185.29 170.02C185.29 194.02 203.17 209.38 232.15 209.38C256.44 209.38 269.77 200.22 279.15 185.86H283.41C285.22 199.06 293.32 205.58 304.41 205.58H317.17V183.19C306.97 184.19 302.57 181.27 302.57 169.97V107.05C302.57 74.49 279.01 62.66 250.94 62.66C210.76 62.66 192.19 84.78 191.85 110.03H216.18C217.09 92.34 229.37 84.91 250.8 84.91C267.93 84.91 278.24 90.8 278.24 102.43C278.24 114.06 269.07 118.1 245.72 122.44ZM278.18 153.44C278.18 177.36 255.7 188.26 234.73 188.26C220 188.26 209.63 182.46 209.63 168.89C209.63 155.09 219.5 147.28 247.63 141.64C262.3 138.64 271.12 135.58 278.19 131.37L278.18 153.44Z" fill="black")
                            path(d="M35.04 117.49H135.42V205.58H162.46V117.49V92.61V11.5H135.42V92.61H35.04V11.5H8V92.61V117.49V205.58H35.04V117.49Z" fill="black")
                    .top-company__group 
                        p.top-company__txt
                            | “未来を手繰り寄せるロープ”
                        p.top-company__subTxt
                            | ロゴは、「Haul」という社名に込められた想い「社会の矛盾・葛藤を統合し必要な未来へ導く」ことを表現しています。これは、ビジネスで国交をつくり、世界を繋げていく私たちの姿でもあります。
    section.top-profile
        .top-profile__cont
            h4.top-profile__ttl
                | Company Profile
            table.top-profile-table
                tbody.top-profile-table__body
                    tr.top-profile-table__cont
                        th.top-profile-table__ttl
                            | 会社名
                        td.top-profile-table__txt
                            | 株式会社Haul
                    tr.top-profile-table__cont
                        th.top-profile-table__ttl
                            | 代表取締役 CEO
                        td.top-profile-table__txt
                            | 平田 拓嗣
                    tr.top-profile-table__cont
                        th.top-profile-table__ttl
                            | 設立
                        td.top-profile-table__txt
                            | 2018年9月13日
                    tr.top-profile-table__cont
                        th.top-profile-table__ttl
                            | 所在地
                        td.top-profile-table__txt
                            | 〒153-0042 東京都目黒区青葉台1-14-4
                            br
                            | CONTRAL nakameguro 003
                    tr.top-profile-table__cont
                        th.top-profile-table__ttl
                            | 事業
                        td.top-profile-table__txt
                            | 採用コンサルティング、SaaSの開発

        .top-profile__cont
            h4.top-profile__ttl
                | CEO Profile
            .top-profile-sec
                picture.top-profile-sec__img-cont
                    source(srcset="./images/profile/top_profile_pc_01.jpg" media=`(min-width: ${breakpoint})`)
                    img(src="./images/profile/top_profile_sp_01.jpg").top-profile__img
                .top-profile-sec__detail.top-profile-detail
                    .top-profile-detail__head
                        .top-profile-detail__cont
                            .top-profile-detail__ttl
                                | 平田 拓嗣
                            span.top-profile-detail__small-txt
                                | Hiroshi Hirata
                        .top-profile-detail__txt
                            | 代表取締役 CEO
                    .top-profile-detail__body
                        | AIスタートアップのABEJAの初期メンバーとして入社。HR部門にて、ビジネスサイドからAIエンジニアまで幅広い職種の採用に携わる。その後、HRBPとして独立し、ジャンルを問わずに複数のスタートアップ・ベンチャー及VCのHR支援に従事。各社経営陣に伴走し、ハンズオンで支援を行う。職種・業種問わず、全般的に支援実績があるが、特に昨今採用難易度が高まっているエンジニア職種の採用を得意とする。株式会社Haulを創業し、従来のコンサルティング型の採用支援に加え、プロダクトによる採用課題の解決にも着手。


    section#recruit.top-recruit
            .top-recruit__cont
                h2.c-ttl
                    | Recruit
                p.top-recruit__intro
                    | 誰もが望む、
                    br.h-sp
                    | 世界を切り拓く。
                p.top-recruit__txt
                    | 自分の手で、自分の道を切り拓く。それぞれの世界で、偉大なリーダーが生まれるチームにしたい。私たちが考える、Haulの組織像です。
                a(href="#").top-recruit__link.top-recruit-link
                    .top-recruit-link__txt
                        | 採用情報を見る
            picture.top-recruit__img-cont
                source(srcset="./images/recruit/top_recruit_pc_01.jpg" media=`(min-width: ${breakpoint})`)
                img(src="./images/recruit/top_recruit_sp_01.jpg").top-recruit__img

    section
        a(href="./contact").top-contact
            .top-contact__cont
                p.top-contact__detail
                    | サービスや、採用など各種ご相談は、
                    br
                    | こちらからお問い合わせください。
                .top-contact-link
                    p.top-contact-link__txt
                        | Contact Us

